<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flixster</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body class="site">
    <div class="site-content">
      <%= render :partial => "layouts/top" %>
      <% if notice.present? %>
        <p class="notice alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    
    <br class="clr" />
    
    <footer>
      <div class= "col-xs-10 col-xs-offset-1">
        <br />
        <b>Teachers</b>
        <br />
        <%= link_to "Teach a Course", new_instructor_course_path %>
      </div>
    </footer>
  </body>
</html>
