<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flixster</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      .video-js {padding-top: 56.25%}
      .vjs-fullscreen {padding-top: 0px}
    </style>
    <link href="http://vjs.zencdn.net/4.10/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.10/video.js"></script>
  </head>
  <body class="site">
    <div class="site-content">
      <%= render :partial => "layouts/top" %>
      <% if notice.present? %>
        <p class="notice alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    
    <br class="clr" />
    
    <footer>
      <div class="container">
        <div class= "col-xs-12 col-sm-3">
          <br />
          <b>Teachers</b>
          <br />
          <%= link_to "Teach a Course", new_instructor_course_path %>
          <br />
          <%= link_to "My Dashboard", dashboard_path %>
        </div>
        <div class= "col-xs-12 col-sm-3">
          <br />
          <b>About</b>
          <br />
          <%= link_to "Team", team_path %>
          <br />
          <%= link_to "Careers", careers_path %>
          <br />
          <%= link_to "Private Policy", privacy_path %>
        </div>
        <div class= "col-xs-12 col-sm-3">
          <br />
          <b>Contact</b>
          <br />
          <a href="mailto:jose.moreno@reyesic.net">jose.moreno@reyesic.net</a>
          <br />
          95444 Bayreuth, Germany
        </div>
        <div class= "col-xs-12 col-sm-3 social">
          <br />
          <b>Social</b>
          <br />
          <%= link_to "https://github.com/jmorenor", :target => "_blank" do %>
            <%= image_tag 'github.png', :class => "social-button" %>
          <% end %>
          <%= image_tag 'facebook.png', :class => "social-button" %>
          <%= link_to "https://twitter.com/jmorenor", :target => "_blank" do %>
            <%= image_tag 'twitter.png', :class => "social-button" %>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
